ragflow:
  host: ${RAGFLOW_HOST:-0.0.0.0}
  http_port: 9380
admin:
  host: ${RAGFLOW_HOST:-0.0.0.0}
  http_port: 9381
mysql:
  name: '${MYSQL_DBNAME:-rag_flow}'
  user: '${MYSQL_USER:-root}'
  password: '${MYSQL_PASSWORD}'
  host: '${MYSQL_HOST:-ragflow-mysql}'
  port: ${MYSQL_PORT:-3306}
  max_connections: 80
  stale_timeout: 300
  max_allowed_packet: ${MYSQL_MAX_PACKET:-268435456}
minio:
  user: '${MINIO_USER}'
  password: '${MINIO_PASSWORD}'
  host: '${MINIO_HOST:-ragflow-minio}:9000'
  bucket: '${MINIO_BUCKET:-}'
  prefix_path: '${MINIO_PREFIX_PATH:-}'
es:
  hosts: 'http://${ES_HOST:-es01}:9200'
  username: '${ES_USER:-elastic}'
  password: '${ELASTIC_PASSWORD:-unused}'
os:
  hosts: 'http://${OS_HOST:-opensearch01}:9201'
  username: '${OS_USER:-admin}'
  password: '${OPENSEARCH_PASSWORD:-unused}'
infinity:
  uri: '${INFINITY_HOST:-ragflow-infinity}:23817'
  postgres_port: 5432
  db_name: 'default_db'
oceanbase:
  scheme: 'oceanbase'
  config:
    db_name: '${OCEANBASE_DOC_DBNAME:-unused}'
    user: '${OCEANBASE_USER:-root}'
    password: '${OCEANBASE_PASSWORD:-unused}'
    host: '${OCEANBASE_HOST:-unused}'
    port: ${OCEANBASE_PORT:-2881}
seekdb:
  scheme: 'oceanbase'
  config:
    db_name: '${SEEKDB_DOC_DBNAME:-unused}'
    user: '${SEEKDB_USER:-root}'
    password: '${SEEKDB_PASSWORD:-unused}'
    host: '${SEEKDB_HOST:-unused}'
    port: ${SEEKDB_PORT:-2881}
redis:
  db: 1
  username: '${REDIS_USERNAME:-}'
  password: '${REDIS_PASSWORD}'
  host: '${REDIS_HOST:-ragflow-redis}:6379'
