---
import LikeButton from "../React/LikeButton.tsx";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";
---

<footer class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-10">
      <div class="flex flex-col lg:items-start items-center space-y-6 gap-9">
        <div class="flex space-x-6 sm:space-x-8">
          <a
            href="https://github.com/albert-queralto"
            target="_blank"
            aria-label="GitHub"
            class="flex flex-col items-center group"
          >
            <div class="text-[var(--white-icon)] hover:text-[var(--white)] transition duration-300 ease-in-out">
              <GitHubIcon />
            </div>
          </a>
          <a
            href="https://linkedin.com/in/albertqueralto"
            target="_blank"
            aria-label="LinkedIn"
            class="flex flex-col items-center group"
          >
            <div class="text-[var(--white-icon)] hover:text-[var(--white)] transition duration-300 ease-in-out">
              <LinkedInIcon />
            </div>
          </a>
          <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=albert.queralto.lopez@gmail.com&su=Hey%20Albert!"
            target="_blank"
            aria-label="Email"
            class="flex flex-col items-center group"
          >
            <div class="text-[var(--white-icon)] hover:text-[var(--white)] transition duration-300 ease-in-out">
              <EmailIcon />
            </div>
          </a>
        </div>
        <LikeButton client:load />
      </div>

      <div class="flex flex-col items-center space-y-6">
        <div class="grid grid-cols-1 gap-3 w-full max-w-xs py-6">
          {
            [
              {
                desc: "Built with",
                name: "Astro",
                icon: "/svg/astro.svg",
                alt: "Astro Logo",
              },
              {
                desc: "Styled with",
                name: "TailwindCSS",
                icon: "/svg/tailwindcss.svg",
                alt: "TailwindCSS Logo",
              },
              {
                desc: "Deployed on",
                name: "Vercel",
                icon: "/svg/vercel.svg",
                alt: "Vercel Logo",
              },
            ].map((tech) => (
              <div class="flex items-center justify-center lg:justify-normal space-x-3">
                <span class="text-[var(--white-icon)] text-sm">
                  {tech.desc}
                </span>
                <img
                  src={tech.icon}
                  alt={tech.alt}
                  class="h-5 w-5 object-contain filter brightness-0 invert opacity-50"
                  loading="lazy"
                />
                <span class="text-[var(--white-icon)] text-sm">
                  {tech.name}
                </span>
              </div>
            ))
          }
        </div>
      </div>

      <div class="flex flex-col items-center lg:items-start space-y-6">
        <div class="w-full max-w-xs">
          <!-- <iframe
            style="border-radius:12px; border:0;"
            src="https://open.spotify.com/embed/playlist/2irOd49FRRLFWYccolQeea?utm_source=generator&theme=0&locale=en_US"
            class="w-full h-40"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe> -->
        </div>
      </div>
    </div>

    <div class="mt-12 pt-8 border-t border-[#ffffff10]">
      <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
        <!-- If you are using this template, by MIT License you can't remove the copyright notice -->
        <span class="block sm:inline"
          >Copyright © {new Date().getFullYear()} <a href="https://github.com/albert-queralto"
            >Albert Queraltó</a
          >. All rights reserved.</span
        >
      </p>
    </div>
  </div>
</footer>
