---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Data Scientist and Machine Learning Engineer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta property="og:title" content="Albert Queraltó" />
    <meta property="og:description" content="Data Scientist and Machine Learning Engineer" />
    <meta property="og:image" content="https://albertqueralto.vercel.app/og.image.png" />
    <meta property="og:url" content="https://albertqueralto.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Albert Queraltó Portfolio" />

    <title>{title}</title>
  </head>
  <body class="bg-[--background] sm:px-28 lg:px-20 px-9">
    <slot />
  </body>
</html>

<style is:global>
  @import url('https://fonts.cdnfonts.com/css/montserrat');

  :root {
    --background: #101010;
    --sec: #76bdff;
    --white: #dfdfdf;
    --white-icon: #f3f3f398;
    --white-icon-tr: #f3f3f310;
  }

  * {
    font-family:
      "Montserrat",
      -apple-system,
      system-ui,
      sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *::selection {
    background-color: var(--sec);
    color: var(--background);
  }

  /* Scrollbar styles */

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: var(--container);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }

  /* Scrollbar styles for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--line) var(--container);
  }
</style>
